<h2>Hi!</h2>

<h4>Your Tweets:</h4>

<p>
  <% @user.tweets.each.with_index(1) do |tweet, index| %>
  <p><%= index %>. <%= tweet.content %><a href="/tweets/<%=tweet.id%>"> Check Tweet</a></p>
  <% end %>
</p>
